.hero-image {
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    height: 25vh;
  }
  
  .heart-icon {
    width: 100px;
    height: 100px;
    background-image: url('../image/icon-heart.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%; 
  }
  
  .contact-info {
    text-align: left;
    margin: 10% 0%;
    font-family: 'Open Sans', sans-serif;
  }
  
  .contact-info h2 {
    position: relative;
    font-weight: bold;
    font-size: 36px;
  }
  
  .contact-info p {
    position: relative;
    padding-left: 30px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .contact-info p i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #E37E21;
  }
  
  .contact-info p.not-bold {
    font-weight: normal;
    padding-left: 0;
  }
  
  .contact-form {
    margin-top: 50px;
  }
  
  .contact-input {
    margin-bottom: 5px; 
    border-radius: 10px;
    height: 50px; 
    background-color: ; 
    color: #ffffff; 
    border: 2px solid #E37E21;
  }
  
  .contact-input:focus {
    outline: none;
    border-color: #FFA270; 
  }
  
  .form-group.col-md-6 {
    margin-bottom: 0; 
  }
  
  .form-group {
    margin-top: 5% !important;
  }
  
  .contact-input::placeholder {
    color: #000000; 
  }
  
  .contact-form button[type="submit"] {
    width: 100%; 
    border-radius: 50px; 
    background-color: #E37E21; 
    color: #ffffff; 
    border: none; 
    margin: 5% 0%;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #FFA270; 
  }
  
  .card {
    border: 1px solid #BDBDBD;
    border-radius: 20px;
  }
  
  @media (max-width: 768px) {
    .hero-image {
        height: 15vh;
    }
    .contact-info p {
        font-size: 16px;
    }
  }