/* subject to change: 
           header_background_color */
/* @import url('https://fonts.google.com/specimen/Commissioner'); */

.navbar {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar_text {
  font-family: "Commissioner", sans-serif !important;
  font-size: 18px !important;
  color: #000;
}

/* dropdown hover */
.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

#saved_recipes {
  margin-right: 0;
}

#search_bar {
  width: 25% !important;
  height: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px 15px;
  background-color: #fff;
  border: 2px solid #ffa500;
}

/* to delete */
#search_icon {
  font-size: 16px;
}

.input-group-text {
  background-color: #fff !important;
  border: 2px solid #ffa500 !important;
  border-left: none !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  transition: all 0.3s ease !important;
  height: 35px !important;
  margin-right: 20px !important;
}

/* Khi di chuột vào biểu tượng tìm kiếm */
.input-group-text:hover {
  background-color: #ffa500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.navbar_text {
  font-family: "Commissioner";
  font-size: 120% !important;
  color: #000;
  transition: transform 0.3s;
}

.navbar_text:hover {
  color: #ffa500 !important;
  transform: scale(1.1);
}

.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

#saved_recipes {
  margin-right: -200px;
}

/* Icon search */
#search_icon,#search_icon_mb {
  font-size: 16px;
  transition: all 0.3s ease;
  color: #ffa500;
}

/* Khi di chuột vào biểu tượng tìm kiếm */
#search_icon:hover,#search_icon_mb:hover {
  transform: scale(1.1);
  color: #fff;
}

/* Màu chữ "Sign in" khi hover */
.btn-outline-success {
  color: #ffa500;
  border-color: #ffa500;
  border: 2px solid #ffa500;
  margin-right: 20px;
  border-radius: 15px;
}

/* Khi di chuột vào nút "Sign in" */
.btn-outline-success:hover {
  background-color: #ffa500;
  color: #fff;
  border: 2px solid #ff8800 !important;
}

/* Fixed navbar on scroll */
nav.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.active {
  color: #ffa500 !important;
  font-weight: bolder;
}

body {
  padding-top: 0;
}
.form-control:focus {
  border-color: initial;
  /* hoặc bạn có thể đặt border-color: transparent; */
  box-shadow: none;
}

/* .navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-item:nth-last-child(2) {
  margin-right: auto;
} */
@media (max-width: 768px) {
  #search_bar {
    display: none !important;
  }
  .input-group-text {
    border-radius: 15px !important;
    border: 2px solid #ff8800 !important;
    border-left:2px !important;
    margin-left: 10px !important;
  }
}
    .dropdown-menu {
        background-color: #ffffff; 
        border: 1px solid #ffa500;  
        text-align: center;
        margin-top: 5px !important;
    }

    .dropdown-item  {
        padding: 10px;
 
    }

    .dropdown-item :hover {
        background-color: #ffa500; /* Màu nền cam khi di chuột */
        color: #ffffff; /* Màu chữ trắng khi di chuột */
    }
    #search_results {
      position: absolute;
      top: 100%; 
      left: 69%;
      width: 25%; 
      background-color: #fff; 
      border: 1px solid #ccc; 
      border-radius: 5px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000; 
      display: block;
  }
  
  #search_results ul {
      list-style: none;
      padding: 0; 
      margin: 0; 
  }
  
  #search_results li {
      padding: 10px; 
      cursor: pointer; 
      transition: background-color 0.3s; 
  }
  
  #search_results li:hover {
      background-color: #f0f0f0; 
  }
  
  #search_results a {
      color: #333; 
      text-decoration: none; 
      font-size: 16px; 
  }
  
  #search_results a:hover {
      text-decoration: underline; 
  }

  .dropdownUser {
    left: -90% !important;
  }
  @media (max-width: 990px) {
    #search_results{
      left: 5%;
    }
    .dropdownUser {
      left: 0% !important;

    }
  }
/* CSS for Popup Search */
#popupSearch {
  display: none;
  position: fixed;
  width: 80% !important;
  height: 90% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-bar-popup {
  width: 150% !important;
  height: 35px;
  border-radius: 15px !important;
  padding: 5px 15px;
  background-color: #fff;
  border: 2px solid #ffa500;
}

.search-icon-popup {
  font-size: 16px;
  transition: all 0.3s ease;
  color: #ffa500;
}

.search-icon-popup:hover {
  transform: scale(1.1);
  color: #fff;
}



#search-results-popup ul {
  list-style: none;
  padding: 0; 
  margin: 0; 
}

#search-results-popup li {
  padding: 6px ; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#search-results-popup li:hover {
  background-color: #f0f0f0; 
}

#search-results-popup a {
  color: #333; 
  text-decoration: none; 
  font-size: 16px; 
}

#search-results-popup a:hover {
  text-decoration: underline; 
}