/* .category_tab {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 12px;
} */

.category_name {
    color: black;
}

.product_name {
    font-weight: bold;
}

.product_time {
    color: #DC582A;
    font-weight: bold;
}

.product_category {
    font-size: 70%;
    color: #A1A1A1;
}
