/* .category_tab {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 12px;
} */

.category_name {
    color: black;
}

.product_image {
    width: 250px;
    height: 250px;
}
.product_name {
    font-weight: bold;
}

.product_time {
    color: #DC582A;
    font-weight: bold;
}

.product_category {
    font-size: 70%;
    color: #A1A1A1;
}

a {
    text-decoration: none;
}
.modal-content {
    background-color: white;
    border: 2px solid orange;
}


.btn-close {
    color: orange;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
    color: white;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: white;
    border: 3px solid;
    border-color: orange;
    color: orange;
    transform: scale(1.05);
    font-weight: bold;
    margin-bottom: 6px;
}

.form-control {
    background-color: white;
    color: orange;
    border-color: orange;
}

.modal-title {
    color: orange;
}


.form-control:focus {
    border-color: darkorange;
    box-shadow: 0 0 0 0.25rem rgba(255, 140, 0, 0.25);
}
.edit-delete-button {
background-color: orange; 
color: white; 
border: 2px solid orange;
margin-right: 5px; 
padding: 5px 10px; 
border-radius: 5px;
}


.edit-delete-button:hover {
background-color: white; 
color: orange; 
}