/* left table */
td {
    height: 30px;
}

.border_top {
    border-top: solid;
    border-color: #B1A9A9;
}

table {
    width: 100%;
}
th {
    font-size: 150%;
    padding-top: 5px;
}
#cooking_time {
    width: 100%;
}
#cooking_time::-webkit-slider-thumb {
    background: #F57C0C;
}
#cooking_time::-webkit-slider-runnable-track {
    background-color: #f0be85;
}
#submit {
    width: 100px;
    background-color: #E37E21;
    color: white;
}

/*right table */
.product_tab {
    border: 1px solid;
}
.product_image {
    margin-bottom: -8px;
    width: 100%;
}
.product_category {
    font-size: 70%;
    color: #A1A1A1;
}
.product_name {
    font-weight: bold;
}
.product_time {
    color: #DC582A;
    font-weight: bold;
}
.product_rating {
    float: right;
    font-size: 70%;
    color: #ADADAD;
}
.product_icon {
    display: flex;
    justify-content: flex-end;
}

/* space between 2 tab vertially */
.vertical_spacing {
    margin-top: 20px;
}

#load_more {
    width: 300px;
    background-color: #E37E21;
    color: white;
}